#map {
  height: 600px;
  z-index: 0;
}

.search {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 40px;
}

.search-box {
  background-color: white;
}

.search-box-item {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.75em - 1px);
  padding-bottom: calc(0.75em - 1px);
}

.search-box-item:hover {
  background-color: #a9cef4;
}
